<form [formGroup]="myForm">
  <div class="form-row">
    <nb-card>
      <nb-card-header>
        <h3>Register Product</h3>
      </nb-card-header>
    
      <nb-card-body>
        <form [formGroup]="myForm">
          <!-- Product Selection -->
          <div class="form-group">
            <label>Product</label>
            <nb-select formControlName="idProduct" placeholder="Select Product">
              <nb-option *ngFor="let prod of listProductByUser" [value]="prod.idProduct">
                {{ prod.name }}
              </nb-option>
            </nb-select>
          </div>
    
          <!-- Barcode -->
          <div class="form-group">
            <label>Bar Code</label>
            <nb-input fullWidth placeholder="Enter Bar Code" formControlName="barCode"></nb-input>
          </div>
    
          <!-- Count -->
          <div class="form-group">
            <label>Count</label>
            <nb-input fullWidth type="number" placeholder="Enter Count" formControlName="count"></nb-input>
          </div>
    
          <!-- Expiration Date -->
          <div class="form-group">
            <label>Expiration Date</label>
            <app-date-picker [placeholder]="'Select Date'" formControlName="expirationDate"></app-date-picker>
          </div>
    
          <!-- Attach Image -->
          <div class="form-group">
            <label>Attach Image</label>
            <nb-file-upload multiple formControlName="file" (change)="loadFile($event)"></nb-file-upload>
          </div>
    
          <!-- Save Button -->
          <div class="form-group">
            <button status="primary" (click)="save()">Save Product</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</form>