<nb-layout>
  <nb-layout-header fixed class="main-header">
    <a href="#" (click)="toggle()" class="content">
      <span class="material-icons">format_list_bulleted</span>
    </a>
    <nb-actions class="header-actions">
      <nb-action>
    
      <select nbSelect [(ngModel)]="selectedTheme" (change)="changeTheme(selectedTheme)">
        <option *ngFor="let theme of themes" [value]="theme">{{ theme | titlecase }}</option>
      </select>

    </nb-action>
      <nb-action icon="home-outline" (click)="goHome()" nbTooltip="Home"></nb-action>
      <nb-action icon="search-outline" (click)="onFind()" nbTooltip="Find">
              </nb-action>
      <div *ngIf="isSearchVisible" class="search-container">
        <input nbInput fullWidth placeholder="Search..." [(ngModel)]="searchQuery" />
        <button nbButton status="info" (click)="onSearch()">
          <nb-icon icon="search-outline"></nb-icon>
        </button>
      </div>
      <nb-action icon="log-in-outline" nbButton status="success" (click)="onLogin()" nbTooltip="Log in"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar tag="menu-barapp" state="collapsed"></nb-sidebar>
  <nb-layout-column class="colored-column-basic" (click)="toggleout()">
    <div>
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>
