<nb-layout window>
  <nb-layout-header fixed>
    <a href="#" (click)="toggle()" class="content">
      <span class="material-icons"> format_list_bulleted </span>
    </a>
      <nb-actions>
        <nb-action icon="home-outline" (click)="goHome()" nbTooltip="Home"></nb-icon>
        <nb-icon nbTooltip="Find" (click)="onFind()" icon="search-outline"></nb-icon>
        <nb-icon nbButton status="success" (click)="onLogin()" icon="log-in-outline"></nb-icon>
  </nb-layout-header>
  <nb-sidebar tag="menu-barapp" state="collapsed"> </nb-sidebar>
  <nb-layout-column class="colored-column-basic" (click)="toggleout()">
    <div>     <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>
