<nb-layout>
  <nb-layout-header fixed class="main-header">
    <a href="#" (click)="toggle()" class="content">
      <span class="material-icons">format_list_bulleted</span>
    </a>
    <nb-actions class="header-actions">
      <nb-action>
        <select nbSelect [(ngModel)]="selectedTheme" (change)="changeTheme(selectedTheme)">
          <option *ngFor="let theme of themes" [value]="theme">{{ theme | titlecase }}</option>
        </select>
      </nb-action>
      <nb-action icon="home-outline" (click)="goHome()" nbTooltip="Home"></nb-action>
      <nb-action icon="search-outline" (click)="onFind()" nbTooltip="Find"></nb-action>
      <nb-action icon="laog-in-outline" nbButton status="success" (click)="onLogin()" nbTooltip="Log in"></nb-action>
    </nb-actions>
  </nb-layout-header>



  <nb-layout-column class="colored-column-basic" (click)="toggleout()">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
