@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/globals' as *;

// Agregar instalación de tema
@include nb-install() {
  @include nb-theme-global();
}
nb-card-body {
  max-height: 70vh; /* Limita la altura del modal al 70% de la ventana */
  overflow-y: auto; /* Agrega scroll vertical cuando el contenido excede la altura */
  padding: 1rem; /* Ajusta el espaciado interno */
}

/* Asegurar que el contenedor del formulario no crezca indefinidamente */
.form-container {
  max-height: 100%;
  overflow-y: auto;
}

/* Mejoras para pantallas pequeñas */
@media (max-width: 600px) {
  nb-card {
    width: 95%; /* Reduce el ancho del modal en móviles */
    max-width: 400px;
  }

  nb-card-body {
    max-height: 60vh; /* Reduce la altura máxima del modal en móviles */
  }
}
