.modal-footer-card {
    background: transparent;
    box-shadow: none;
    border-top: 1px solid var(--nb-border-basic);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .modal-footer {
    display: flex;
    gap: 10px;
  
    button {
      min-width: 100px;
    }
  }
  .no-border {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
  }